<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases>
	
  	<typeAlias type="music.is.mylife.vo.Singer" alias="singer"/>
  	<typeAlias type="music.is.mylife.vo.Song" alias="song"/>
  	<typeAlias type="music.is.mylife.vo.Tag" alias="tag"/>
  	<typeAlias type="music.is.mylife.vo.UserInfo" alias="user_info"/>
 	
 </typeAliases> 

 
  	
  <mappers>
    <mapper resource="./mapper/albumMapper.xml"/>
    <mapper resource="./mapper/mediaMapper.xml"/>
    <mapper resource="./mapper/singerMapper.xml"/>
    <mapper resource="./mapper/sMakerMapper.xml"/>
    <mapper resource="./mapper/songMapper.xml"/>
    <mapper resource="./mapper/tagMapper.xml"/>
    <mapper resource="./mapper/userMapper.xml"/>
  </mappers>

</configuration>
